.root {
    height: 500px;
    width: 250px;
    padding: 0 30px;
    font-size: 20px;
  }


  .classes {
    height: 150px;
    width: 200px;
    padding: 0 30px;
    font-size: 20px;
  }
  